.header.bg{
  background:#0390fc;
}

.logo img{
  width:150px;
}

.header .mt-custom{
  margin-top:1.7rem;
}

.cat-bg{
  background:lightgray;
}

.cat-bg a{
  color:#fff;
  font-size:1.3rem;
}

.product-slider img{
  width:200px
}

.card.product-slider img{
  margin:0px auto
} 

.bg-svg-top{
  position: absolute;
  top:0;
  left:0;
}

.form-bg{
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.bg-svg-bottom{
  position: absolute;
  width:40%;
  right:0;
}

